<!DOCTYPE html>
<html ng-app="myApp">
<head>
<meta charset=utf-8 />
<title>JS Bin</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.2/angular.min.js"></script>
  <script type="text/javascript" src='app.js'></script>
</head>
<body ng-controller="homeController">
	<p>ng-reapeat</p>
	<ul>
		<li ng-click="names[0]='liamks'" ng-repeat="name in names">{{name}}</li>
	</ul>
	<p>lk-reapeat</p>
	<ul>
  		<li ng-click="names[0]='liamks'" lk-repeat="name in names">{{name}}</li>
	</ul>
  
  	<div ng-click="count=count+1">{{names[0]}}</div> 
</body>
</html>